<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead"></head>


<body>
<form id="updatePw" class="layui-form" action="">
    <!--<input type="hidden" id="id" name="id"/>-->
    <div class="layui-form-item" style="margin:30px 10px">
        <label class="layui-form-label">原密码</label>
        <div class="layui-input-block">
            <input type="password" id="oldPwd" class="layui-input" name="assword"   lay-verify="checkOldPassword" placeholder="请输入原密码"
                   style="width: 700px"/>
        </div>
    </div>
    <div class="layui-form-item" style="margin:30px 10px">
        <label class="layui-form-label">新密码</label>
        <div class="layui-input-block">
            <input type="password" id="newPwd" class="layui-input" name="newPassword"   lay-verify="checkNewPassword" placeholder="请输入新密码"
                   style="width: 700px"/>
        </div>
    </div>

    <div class="layui-form-item" style="margin:30px 10px">
        <label class="layui-form-label">确认密码</label>
        <div class="layui-input-block">
            <input type="password" class="layui-input" lay-verify="checkSimpleConfirmPassword" placeholder="确认新密码"
                   style="width: 700px"/>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" type="reset">重置</button>
            <button class="layui-btn layui-btn-nomal" lay-submit="" lay-filter="save">保存</button>
        </div>
    </div>
</form>
</body>
<script>
    var flag = 0;
    $(function () {
        layui.use(['form', 'layer'], function () {
            var form = layui.form;
            form.on("submit(save)", function () {
                save();
                return false;
            });
        })
    })

    function save() {
        var topLayer = top.layer.msg('数据保存中，请稍候...', {icon: 16, time: false, shade: 0.8});
        $updatePw = $("#updatePw");
        $.ajax({
            url: "/savePwd",
            type: "POST",
            data: {
                password: $("#oldPwd", $updatePw).val(),
                newPassword:$("#newPwd",$updatePw).val(),
            },
            dataType: "text",
            success: function (data) {
                if (JSON.parse(data).success == false) {
                    top.layer.close(topLayer);
                    layer.msg(JSON.parse(data).msg);
                } else {
                    setTimeout(function () {
                        top.layer.close(topLayer);
                        parent.layer.msg(JSON.parse(data).msg);
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                    }, 1000)
                }
            }
        });
    }


</script>
</html>