<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead"></head>
<script type="text/javascript" src="../js/map/map_list.js"></script>

<body onload="init()" style="background-color:#F8F8F8">
<div  style="width:20%;height: 100%; float: left; background-color: #ffffff;margin-top:10px;">
    <div id="countryMenu"  style="height: 100px;"></div>
</div>
<div style="width:calc(78% - 10px);height:100%; float: right;background-color: #ffffff;margin-top:10px;">
<div id="container" style="width:100%;height: 700px;"> </div>
</div>
</body>
</html>